<div class="row">

  <!-- FORM -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-body p-4">

        <!-- FORM -->
        <form #clienteForm="ngForm" (ngSubmit)="addCliente(clienteForm)">
          <!-- Cliente ID -->
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="clienteService.selectedCliente._id">


          <div class="form-group">
            <input type="text" name="nombre" #name="ngModel" [(ngModel)]="clienteService.selectedCliente.nombre" 
              placeholder="Nombre" class="form-control">
              <!-- <div *ngIf="name.invalid && (name.dirty) && name.errors.required" style="color:red" > Name is required.</div> -->
          </div>

          <div class="form-group">
              <input type="text" name="rfc" #name="ngModel" [(ngModel)]="clienteService.selectedCliente.rfc"
                placeholder="RFC" class="form-control">
              <!-- <div *ngIf="name.invalid && (name.dirty) && name.errors.required" style="color:red" > Name is required.</div> -->

          </div>

          <div class="form-group">
            <input type="text" name="telefono" #name="ngModel" [(ngModel)]="clienteService.selectedCliente.telefono"
              placeholder="Teléfono" class="form-control">
          </div>

          <div class="form-group">
            <div class="input-field col-s12">
              <input type="text" name="email" #name="ngModel" [(ngModel)]="clienteService.selectedCliente.email"
                placeholder="Email" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <div class="input-field col-s12">
              <input type="text" name="cp" #name="ngModel" [(ngModel)]="clienteService.selectedCliente.cp"
                placeholder="Código Postal" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <div class="input-field col-s12">
              <input type="text" name="direccion" #name="ngModel" [(ngModel)]="clienteService.selectedCliente.direccion"
                placeholder="Dirección" class="form-control">
            </div>
          </div>

          <button class="btn btn-primary mr-2" (click)="resetForm(clienteForm)">Clean</button>
          <button class="btn btn-secondary" [disabled]="!clienteForm.valid">Save</button>
        </form>
      </div>
    </div>
  </div>

  <!-- TABLE -->
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" id="search" class="form-control" name="direccion" placeholder="Buscar" [(ngModel)]="nombre" >
      <span class="btn btn-secondary" (click)="searchNombre()" >Search</span>
    </div>
    <table mdbTable class="table table-striped">
      <thead>
        <th>Nombre</th>
        <th>RFC</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Código postal</th>
        <th>Dirección</th>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clienteService.clientes; let i = index">
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.rfc }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.cp }}</td>
          <td>{{ cliente.direccion }}</td>
          <td>
            <a (click)="editCliente(cliente)" class="btn btn-secondary btn-sm">
              <i class="material-icons">edit</i>
            </a>
            <a (click)="deleteCliente(cliente._id, clienteForm)" class="btn btn-danger btn-sm">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>